.bg-gold{
    background-color: #ffcf40 !important;
}

.btn-gold{
    background-color: #ffcf40 !important;
}

.text-gold{
    color: #ffcf40 !important;
}

.btn-outline-success {
    color: #ffcf40;
    border-color: #ffcf40;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #ffcf40;
    border-color: #ffcf40;
}

.card{
    min-height: 350px !important;
}

.card img.card-img-top{
    height: 200px;
    width: auto;
    max-width: 100%;
    margin: autos;
}

img.product-img{
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    max-height: 80px;
}

.table td, .table th
{
    vertical-align: middle;
}

.product-desc{
    max-height: 400px;
}

.carousel-item img{
    max-height: 200px;
}
